nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0px;
    z-index: 20;
  }
  
  nav ul a {
    cursor: pointer;
  }
  
  nav ul a:hover {
    color: rgb(234, 97, 237);
    border-bottom: 2px solid rgba(255, 255, 255, 0.497);
  }
  
  .active {
    color: rgb(234, 97, 237);
    border-bottom: 2px solid rgba(255, 255, 255, 0.497);
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    list-style: none;
    font-size: 20px;
  }
  
  nav h1 {
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(to right, rgba(216, 6, 184, 0.914), white);
    background-clip: text;
    color: transparent;
  }
  
  .hamburger {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    cursor: pointer;
  }
  
  .ham {
    width: 40px;
    height: 2px;
    background-color: aliceblue;
    transition: all 0.5s;

  }
  
  .mobile-menu {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: rgb(14, 18, 21);
    backdrop-filter: 7px;
    right: 0;
    transform: translateX(100%); /* Initially hidden offscreen */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
    gap:50px;
     
  }
  
  .activemobile {
    transform: translateX(0%); /* Slide the menu into view */
  }

  .activeham .ham:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }

  .activeham .ham:nth-child(2){
    opacity:0 ; 
 } 
 
 .activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    top: -12px;
  }
  
  @media (max-width: 750px) {
    .desktop-menu {
      display: none; /* Hide the desktop menu on mobile */
    }
  
    .hamburger {
      display: flex; /* Show the hamburger icon on mobile */
    }
  
    .mobile-menu {
      display: none; /* Initially hide the mobile menu */
    }
  
    /* When the menu is open, show the mobile menu */
    .activemobile {
      display: flex;
    }
  }
  